.input{
    width: 60%;
    margin: 0 auto;
}
.input--search{
    width: 100%;
    margin-top: 2rem;
    padding: .8rem;
    border-radius:1rem;
    border: .5px solid;
    font-size: 1rem;
    background-color: rgb(245, 245, 245);

}

.input--search__image{
   width: 20px;

}
.input--container{
    position: relative;
}
.input--search__button{
    border: none;
    padding: .4rem 0;
    position: absolute;
    top:35px;
    right: 10px;
    border: none;
}
.input--search__button button{
    border: none;
    background-color:rgb(245, 245, 245) ;
}
